* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hero-wrapper {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    padding: 16px 25px;
    margin-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 50%;
    flex: 1;
    padding: 20px 20px 20px 0;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 75px;
    gap: 50px;
}

.image-wrapper {
    max-width: 1200px;
    display: flex;
    gap: 50px;
}

.card {
    flex: 1;
    text-align: center;
}

.card img {
    border: 5px solid #3882F6;
    max-width: 95%;
    min-width: 150px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

p,
.links,
a {
    font-size: 18px;
    color: #b2b2b2;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 8%;
}

.push-left {
    margin-right: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.landscape {
    flex: 1;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    font-size: 18px;
    margin-top: 15px;
}

.quote-wrapper {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 50px 100px;
    gap: 20px;
}

.quote-container {
    max-width: 1200px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.signature {
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.signup-wrapper {
    padding: 100px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #3882F6;
    border-radius: 10px;
    max-width: 1100px;
    padding: 50px 125px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.signup {
    color: white;
    font-size: 24px;
    font-weight: 450;
}

.signup p {
    color: #c9c9c9;
    font-weight: normal;
}

.banner button {
    border: 2px solid white;
    margin: 0;
}

.footer {
    background-color: #1F2937;
    padding: 50px;
    color: #b2b2b2;
    display: flex;
    justify-content: center;
}